
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarLeftAlignExample"
      aria-controls="navbarLeftAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars">
        
      </i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
         
           <a href="/admin/add-product" class="btn btn-success ml-auto">Add product</a>
       
        </li>
        <!-- Navbar dropdown -->
      
        
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<section>
    <div class="container">
        
        <table class="table mt-5 " id="tableid">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">description</th>
      <th scope="col">images</th>
      <th scope="col">EDIT</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
      {{#each shoes}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.description}}</td>
      <td><img style="width: 50px;height: 50px;" src="/{{this._id}}0.jpg"></td>
      <td>
        <a href="/admin/edit-product/{{this._id}}0" class="btn btn-primary">EDIT</a>      
        
      </td>
      <td>
       
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger" onclick="return confirm('are you sure to delete  {{this.name}}?');">DELETE</a>
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>
</div>

<script>
  $(function(){
    $('#tableid').DataTable();
  });
</script>