<div id="preloader"></div>
<div class="page-wrapper"></div>
<h1 class="d-none">CASPER ONLINE STORE</h1>
        <header class="header header-transparent">
            <div class="header-middle sticky-header fix-top sticky-content">
                <div class="container-fluid">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle">
                            <span><i class="fa fa-bars"></i></span>
                        </a>
                        <a href="/" class="logo mr-0 mr-sm-4 mr-lg-6 mr-xl-10">
                            <img src="images/casper photos/logo/logo1.png" alt="logo" width="154" height="43" />
                        </a>
                        <!-- End Logo -->
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="/">HOME</a>
                                </li>
                                
                                
                                <li>
                                    <a href="#">OUR PRODUCTS</a>
                                    <ul>
                                       <li ><a href="/products/shoes">shop shoes</a></li>
					                    <li ><a href="/products/watches">shop Watches</a></li>
					                 <li ><a href="/products/speakers">shop speakers</a></li>
					                 <li ><a href="/products/airpods"> shop air pods</a></li>
                                        
                                    </ul>
                                </li>
                               
                                <li>
                                    <a href="/contact-us">CONTACT US</a>
                                </li>
                                <li>
                                    <a href="/about">ABOUT US</a>
                                </li>
                            </ul>
                        </nav>
                        <span class="divider d-lg-show"></span>
                        <!-- End Divider -->
                        <div class="header-search hs-toggle d-lg-show">
                            <a href="#" class="search-toggle">
                                <i class="fa fa-search"></i>
                            </a>
                            <form action="#" class="input-wrapper">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                    placeholder="Search your keyword..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End Header Search -->
                    </div>
                    <div class="header-right">
                        <a class="login-link mr-lg-6 mr-sm-4 mr-2" href="/login">
                            <i class="fa fa-user"></i>
                        </a>
                        
                        <!-- End Login -->
                        <a class="wishlist mr-sm-4 mr-2" href="#">
                            <i class="fa fa-heart"></i>
                        </a>
                        <span class="divider"></span>
                        <!-- End Divider -->
                       
							<!-- End Dropdown Box -->
						</div>
                        <div class="header-search hs-toggle mobile-search">
                            <a href="#" class="search-toggle">
                                <i class="fa fa-search"></i>
                            </a>
                            <form action="#" class="input-wrapper">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                    placeholder="Search your keyword..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End of Header Search -->
                    </div>
                </div>

            </div>
        </header>
        <!-- End Header -->
        <main class="main home">
            <div class="page-content">
                <section class="intro-slider animation-slider owl-carousel owl-nav-arrow owl-nav-fade owl-theme row cols-1 gutter-no"
                    data-owl-options="{
                    'items': 1,
                    'dots': false,
                    'nav': true,
                    'loop': true,
                    'autoplay': false
                }"
                    >
                    <div class="intro-slide1 banner banner-fixed"
                        style="background-image: url(images/demo13/banners/main.jpg); background-color: #212629">
                        <div class="container">
                             <div class="banner-content  y-50 x-50 text-center" >
                                <h4 class="banner-subtitle mb-1 text-primary font-weight-bold slide-animate"
                                    data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1.2s'}">Discover
                                    </h4>
                                <h3 class="banner-title mb-2 text-uppercase text-white slide-animate"
                                    data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1.2s', 'delay': '.2s'}">
                                    The Difference</h3>
                                <a href="shoes.html" class="btn btn-rounded btn-outline btn-white slide-animate"
                                    data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1.2s', 'delay': '.6s'}">Shop
                                    now<i class="d-icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="intro-slide2 banner banner-fixed"
                        style="background-image: url(images/demo13/banners/watch2.png); background-color: #abacb1">
                        <div class="container">
                            <div class="banner-content x-50 y-50 text-center">
                                <h4 class="banner-subtitle d-inline-block mb-2 text-uppercase font-weight-bold slide-animate"
                                    data-animation-options="{'name': 'fadeIn', 'duration': '1.2s'}"></h4>
                                <h3 class="banner-title mb-3 text-white slide-animate font-weight-bolder "
                                    data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '1.2s', 'delay': '.8s'}">
                                    premium <br>collection of watches</h3>
                                
                                <a href="/products/watches" class="btn btn-rounded btn-dark slide-animate"
                                    data-animation-options="{'name': 'fadeInUp', 'duration': '1.2s', 'delay': '1.3s'}">Shop
                                    now<i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="intro-slide3 banner banner-fixed"
                        style="background-image: url(images/demo13/banners/air\ pod1.jpg); background-color: #423d3a">
                        <div class="container">
                            <div class="banner-content x-50 y-50 text-center">
                                <h4 class="banner-subtitle mb-5 text-primary font-tertiary font-weight-bold slide-animate"
                                    data-animation-options="{'name': 'fadeIn', 'duration': '1.2s'}">New Arrivals</h4>
                                <h3 class="banner-title text-white slide-animate"
                                    data-animation-options="{'name': 'blurIn', 'duration': '1.5s', 'delay': '.8s'}">
                                    Essentials for all the<br />ways you move</h3>
                                
                                <a href="/products/shoes" class="btn btn-primary slide-animate"
                                    data-animation-options="{'name': 'fadeInUp', 'duration': '1.2s', 'delay': '1.3s'}">Shop
                                    now</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="pb-8 service-list-section p-relative overflow-hidden">
                    <div class="container">
                        <div class="service-list service-list-lg appear-animate" data-animation-options="{
                            'name': 'fadeInUpShorter',
                            'delay': '.2s'
                        }">
                            <div class="owl-carousel owl-theme show-shadow" data-owl-options="{
                                'margin':20,
                                'nav':false,
                                'dots':false,
                                'responsive':{
                                    '992':{
                                        'items':3
                                    },
                                    '768':{
                                        'items':2
                                    },
                                    '576':{
                                        'items':2
                                    },
                                    '0':{
                                        'items':1
                                    },
                                    '1200':{
                                        'items':4
                                    }
                                }
                            }">

                                <div class="icon-box icon-box-side flex-column">
                                    <i class="icon-box-icon fa fa-truck mr-0"></i>
                                    <div class="icon-box-content mb-1 text-center">
                                        <h4 class="icon-box-title text-normal">Free Shipping &amp; Return</h4>
                                        <p class="text-grey">Get free delivery of your orders<br />
                                            all over India</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side flex-column">
                                    <i class="icon-box-icon fa fa-service mr-0"></i>
                                    <div class="icon-box-content mb-1 text-center">
                                        <h4 class="fa fa-box-title">Customer Support</h4>
                                        <p class="text-grey">We provide convenient support of<br />24/7 for
                                            our customers.</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side flex-column">
                                    <i class="icon-box-icon fa fa-money mr-0"></i>
                                    <div class="icon-box-content mb-1 text-center">
                                        <h4 class="icon-box-title text-normal">Moneyback Guarantee</h4>
                                        <p class="text-grey">We fully guarantee our money<br />
                                            back policy with no doubt.</p>
                                    </div>
                                </div>
                                <div class="icon-box icon-box-side flex-column">
                                    <i class="icon-box-icon fa fa-card mr-0"></i>
                                    <div class="icon-box-content mb-1 text-center">
                                        <h4 class="icon-box-title text-normal">Best offers </h4>
                                        <p class="text-grey">Get best offers for <br />
                                            every ordered product.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="brand-section mt-lg-10 mb-10 pb-8 appear-animate">
                   
                    <div class="container"></div>
                        <h2 class="title">Our categories</h2>
                        
                    
               
                <div class="container">
                    <div class="owl-carousel owl-theme row brand-carousel cols-xl-4 cols-lg-4 cols-md-3 cols-sm-2 cols-2"
                        data-owl-options="{
                                'nav': false,
                                'autoplay': true,
                                'margin': 20,
                                'loop': false,
                                'responsive': {
                                    '0': {
                                        'items': 2
                                    },
                                    '576': {
                                        'items': 3
                                    },
                                    '768': {
                                        'items': 4
                                    }
                                }
                            }">
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="/products/shoes">
                                    <figure class="category-media">
                                        <img src="images/casper photos/categories/shoes.png" alt="category" width="280"
                                            height="280" style="background-color: #8c8c8d;" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name font-weight-bold ls-l"><a href="/products/shoes">Shoes
                                        </a></h4>
                                </div>
                            </div>
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="/products/watches">
                                    <figure class="category-media">
                                        <img src="images/casper photos/categories/watches.png" alt="category" width="280"
                                            height="280" style="background-color: #bcbdb7;" />
                                    </figure>
                                </a>
                                <div  class="category-content">
                                    <h4  class="category-name font-weight-bold ls-l"><a
                                            href="/products/watches">Watches</a></h4>
                                </div>
                            </div>
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="/products/speakers">
                                    <figure class="category-media">
                                        <img src="images/casper photos/categories/speakers.png" alt="category" width="280"
                                            height="280" style="background-color: #ececef;" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name font-weight-bold ls-l"><a href="/products/speakers">
                                           Speakers</a></h4>
                                </div>
                            </div>
                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                <a href="/products/airpods">
                                    <figure class="category-media">
                                        <img src="images/casper photos/categories/airpods.png" alt="category" width="280"
                                            height="280" style="background-color: #e8eded;" />
                                    </figure>
                                </a>
                                <div class="category-content font-weight-bold">
                                    <h4 class="category-name font-weight-bold ls-l"><a href="/products/airpods">Air pods</a>
                                    </h4>
                                </div>
                            </div>
                       
                   
               
            </section>
                <section class="product-wrapper container pt-3 mt-10 mb-8 pb-10 appear-animate">
                    <div class="tab tab-nav-simple tab-nav-center">
                        <ul class="nav nav-tabs nav-tabs-products" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#below1000">Below 1000 </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"href="#latest">New Arrivals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#combo">Combo Offers</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="below1000">
                                <div class="owl-carousel owl-theme row owl-nav-full cols-xl-5 cols-lg-4 cols-md-3 cols-2"
                                    data-owl-options="{
                                    'items': 5,
                                    'nav': false,
                                    'dots': true,
                                    'margin': 20,
                                    'loop': false,
                                    'responsive': {
                                        '0': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3
                                        },
                                        '992': {
                                            'items': 4
                                        },
                                        '1200': {
                                            'items': 5
                                        }
                                    }
                                }">
                                {{#each below1000}}
                                    <div class="product product-classic">
                                        <figure class="product-media">
                                            <a href="/products?id={{this._id}}">
                                                <img src="{{this._id}}0.jpg" alt="product"
                                                    width="300" height="338">
                                                
                                            </a>
                                            <div class="product-label-group">
                                                <label class="product-label label-top">top</label>
                                            </div>
                                        </figure>
                                        <div class="product-details">
                                            <h1 class="product-name">{{this.name}}
                                                <a href="demo13-product.html"></a>
                                            </h1>
                                            <div class="product-price">
                                                <span class="price"> ₹ {{this.Price}} </span>
                                            </div>
                                            
                                            <div >
                                                <a href="/products?id={{this._id}}" ><button class="buyme">view product
                                                    <i class="fa fa-whatsapp" style="font-size:22px;color:#25D366;margin-left: 5px;" ></i></button></a>
                                                
                                                
                                                            
                                            </div>
                                            
                                        </div>
                                    </div>
                                 {{/each}}   
                                </div>
                            </div>
                            <div class="tab-pane" id="latest">
                                <div class="owl-carousel owl-theme row owl-nav-full cols-xl-5 cols-lg-4 cols-md-3 cols-2"
                                    data-owl-options="{
                                    'items': 5,
                                    'nav': false,
                                    'dots': true,
                                    'margin': 20,
                                    'loop': false,
                                    'responsive': {
                                        '0': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3
                                        },
                                        '992': {
                                            'items': 4
                                        },
                                        '1200': {
                                            'items': 5
                                        }
                                    }
                                }">
                                {{#each latest}}
                                    <div class="product product-variable product-classic">
                                        <figure class="product-media">
                                            <a href="/products?id={{this._id}}">
                                                <img src="{{this._id}}0.jpg" alt="product"
                                                    width="300" height="338">
                                                
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">{{this.name}}
                                                <a href="demo13-product.html"></a>
                                            </h3>
                                            <div class="product-price">
                                                <span class="price">₹ {{this.Price}}</span>
                                            </div>
                                           
                                            <div >
                                                <a href="/products?id={{this._id}}" ><button class="buyme">view product
                                                    <i class="fa fa-whatsapp" style="font-size:22px;color:#25D366;margin-left: 5px;" ></i></button></a>
                                                
                                                
                                                            
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="tab-pane" id="combo">
                                <div class="owl-carousel owl-theme row cols-xl-5 cols-lg-4 cols-md-3 cols-2"
                                    data-owl-options="{
                                    'items': 5,
                                    'nav': false,
                                    'dots': true,
                                    'margin': 20,
                                    'loop': false,
                                    'responsive': {
                                        '0': {
                                            'items': 2
                                        },
                                        '768': {
                                            'items': 3
                                        },
                                        '992': {
                                            'items': 4
                                        },
                                        '1200': {
                                            'items': 5
                                        }
                                    }
                                }">
                                {{#each combo}}
                                    <div class="product product-variable product-classic">
                                        <figure class="product-media">
                                            <a href="/products?id={{this._id}}">
                                                <img src="{{this._id}}0.jpg" alt="product"
                                                    width="300" height="338">
                                               
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">{{this.name}}
                                                <a href="demo13-product.html"></a>
                                            </h3>
                                            <div class="product-price">
                                                <span class="price">₹ {{this.Price}}</span>
                                            </div>
                                           
                                            <div >
                                                <a href="/products?id={{this._id}}" ><button class="buyme">view product
                                                    <i class="fa fa-whatsapp" style="font-size:22px;color:#25D366;margin-left: 5px;" ></i></button></a>
                                                
                                                
                                                            
                                            </div>
                                        </div>
                                    </div>
                                  {{/each}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                
                <section class="banner banner-cta parallax mt-10" style="background-color: #5d4136"
                    data-image-src="images/demo13/tent8.jpg">
                    <div class="container">
                        <div class="banner-content d-inline-block">
                            <h4 class="banner-subtitle mb-1 font-secondary ls-l text-white font-weight-normal appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.1s'
                            }">Casper Rentals</h4>
                            <h3 class="banner-title mb-5 ls-m text-white font-weight-bolder appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.3s'
                            }">Book your tents now</h3>
                            <a href="https://wa.me/918590077965" class="btn btn-outline btn-primary text-white appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.2s'
                            }">CONTACT US NOW<i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </section>
                <section class="brand-section mt-lg-10 mb-10 pb-8 appear-animate">
                    <div class="title-wrapper">
                        <div class="container">
                            <h2 class="title">Our Instagram</h2>
                            <span class="title-info">@casper.onlineStore</span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="owl-carousel owl-theme row brand-carousel cols-xl-5 cols-lg-4 cols-md-3 cols-sm-2 cols-2"
                            data-owl-options="{
                                    'nav': false,
                                    'autoplay': true,
                                    'margin': 20,
                                    'loop': false,
                                    'responsive': {
                                        '0': {
                                            'items': 2
                                        },
                                        '576': {
                                            'items': 3
                                        },
                                        '768': {
                                            'items': 4
                                        },
                                        '992': {
                                            'items': 5
                                        }
                                    }
                                }">
                            <figure class="instagram">
                                <a href="https://www.instagram.com/casper.onlinestore/"><img src="images/casper photos/shoes/10.png" alt="brand" width="220"
                                        height="220" /></a>
                            </figure>
                            <figure class="instagram">
                                <a href="https://www.instagram.com/casper.onlinestore/"><img src="images/casper photos/watches/3.png" alt="brand" width="220"
                                        height="220" /></a>
                            </figure>
                            <figure class="instagram">
                                <a href="https://www.instagram.com/casper.onlinestore/"><img src="images/casper photos/shoes/1.png" alt="brand" width="220"
                                        height="220" /></a>
                            </figure>
                            <figure class="instagram">
                                <a href="https://www.instagram.com/casper.onlinestore/"><img src="images/casper photos/watches/9.png" alt="brand" width="220"
                                        height="220" /></a>
                            </figure>
                            <figure class="instagram">
                                <a href="https://www.instagram.com/casper.onlinestore/"><img src="images/casper photos/shoes/6.png" alt="brand" width="220"
                                        height="220" /></a>
                            </figure>
                        </div>
                    </div>
                </section>
               
                
        </main>
        <!-- End Main -->
        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="/" class="logo-footer">
                                <img src="images/casper photos/logo/logo1.png" alt="logo-footer" width="154" height="43" />
                            </a>
                            <!-- End FooterLogo -->
                        </div>
                        <div class="col-lg-9">
                            <div class="widget widget-newsletter form-wrapper form-wrapper-inline">
                                <div class="newsletter-info mx-auto mr-lg-2 ml-lg-4">
                                    <h4 class="widget-title">Subscribe to our Newsletter</h4>
                                    <p>Get all the latest information, Sales and Offers.</p>
                                </div>
                                <form action="#" class="input-wrapper input-wrapper-inline">
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Email address here..." required />
                                    <button class="btn btn-rounded btn-primary btn-md ml-2" type="submit">subscribe<i
                                            class="fa fa-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- End Newsletter -->
                        </div>
                    </div>
                </div>
                <!-- End FooterTop -->
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-contact">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul class="widget-body">
                                    <li>
                                        <label>Phone:</label>
                                        <a href="tel:#">8590077965</a>
                                    </li>
                                    <li>
                                        <label>Email:</label>
                                        <a href="mailto:riode@mail.com">casperonlinestore@Gmail.com</a>
                                    </li>
                                    <li>
                                        <label>Address:</label>

                                        <a href="#">Elokkara NH 212 raroth Elokkara, Kozhikode, Kerala 673586</a>
                                    </li>
                                    <li>
                                        <label>WORKING DAYS / HOURS:</label>
                                    </li>
                                    <li>
                                        <a href="#">Mon - Sun / 9:00 AM - 8:00 PM</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                <h4 class="widget-title">visit us</h4>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15640.607750424228!2d75.968985!3d11.468957!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f20217d16042a60!2sCasper%20online%20store!5e0!3m2!1sen!2sin!4v1631437483004!5m2!1sen!2sin" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget ml-lg-4">
                                
                                    
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="widget widget-instagram">
                                <h4 class="widget-title">Instagram</h4>
                                <figure class="widget-body row">
                                    <div class="col-3">
                                        <img src="images/casper photos/shoes/1.png" alt="instagram 1" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/watches/11.png" alt="instagram 2" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/shoes/9.png" alt="instagram 3" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/watches/8.png" alt="instagram 4" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/shoes/5.png" alt="instagram 5" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/watches/4.png" alt="instagram 6" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/shoes/10.png" alt="instagram 7" width="64" height="64" />
                                    </div>
                                    <div class="col-3">
                                        <img src="images/casper photos/watches/3.png" alt="instagram 8" width="64" height="64" />
                                    </div>
                                </figure>
                            </div>
                            <!-- End Instagram -->
                        </div>
                    </div>
                </div>
                <!-- End FooterMiddle -->
                <div class="footer-bottom">
                    <div class="footer-left">
                        <figure class="payment">
                            <img src="images/casper photos/payment icon.png" alt="payment" width="159" height="29" />
                        </figure>
                    </div>
                    
                    <div class="footer-right">
                        <div class="social-links">
                            <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                            <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                            <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                        </div>
                    </div>
                </div>
                <!-- End FooterBottom -->
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    <!-- Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
        <a href="/" class="sticky-link active">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </a>
        <a href="/about"   class="sticky-link"> 
            <i class="fa fa-group" style="font-size:22px"></i>
            <span>About </span>
        </a>
        <a href="https://wa.me/918590077965" class="sticky-link">
            <i class="fa fa-whatsapp" style="font-size:22px;margin-left: 5px;" ></i>
            <span>CONTACT US</span>
        </a>
        <a href="https://www.instagram.com/casper.onlinestore/" class="sticky-link">
            <i class="fa fa-instagram" style="font-size:22px"></i>
            <span>FOLLOW US</span>
        </a>
        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="fa fa-search"></i>
                <span>Search</span>
            </a>
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                    placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="fa fa-arrow-up"></i></a>

    <!-- MobileMenu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End Overlay -->
        <a class="mobile-menu-close" href="#"><i class="fa fa-times"></i></a>
        <!-- End CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                    placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <!-- End Search Form -->
            
            <ul class="mobile-menu mmenu-anim">
				<li class="active" >
					<a href="/">HOME</a>
				</li>
				
				
			   
					 <li ><a href="/products/shoes">shop shoes</a></li>
					 <li ><a href="/products/watches">shop Watches</a></li>
					  <li ><a href="/products/speakers">shop speakers</a></li>
					  <li ><a href="/products/airpods"> shop air pods</a></li>
						
				  
				
				<li>
					<a href="/contact-us">CONTACT US</a>
                    
				</li>
				<li >
					<a href="/about">ABOUT US</a>
				</li>
			</ul>
            <!-- End MobileMenu -->
        </div>
    </div>

    <script>

        var loader = document.getElementById("preloader");

        window.addEventListener("load", function(){
            loader.style.display = "none";
        })


    </script>
